<div id="profile">
  <!--Profil info: name, avatar & XP-->
  <div class="playerInfo container" *ngIf="player">
    <div class="playerAvatar">
      <img class="avatar" [src]="player.avatar"/>
    </div>
    <div>
      <app-player-country [player]="player"></app-player-country>
      <h1 class="playerName">{{ player.name }}</h1>
    </div>
    <!--<div class="xp_container" style="margin-top: 0px;margin-bottom: -6px;">10k XP-->
    <!--<div class="arrowback"></div>-->
    <!--<div class="arrow"></div>-->
    <!--<div class="arrowbackl"></div>-->
    <!--<div class="arrowl"></div>-->
    <!--</div>-->
  </div>

</div>

