:host {

  .profile {
    background-color: aquamarine;
  }
  .container {
    padding: 0px;
    border: 2px solid black;
    //background-color: #FFFC00;
    background-color: white;
    border-radius: 30px;
  }

  .playerInfo {
    //display: grid;
    width: 40%;
    height: 160px; // TODO: externalize with avatar size
  }

  .avatar {
    width: 160px;
    height: 160px;
    float: left;
    border-radius: 30px;
  }

  .playerName {
    //background-color: #1976d2;
  }

  .country {
    float: right;
    background-image: url("https://x.boardgamearena.net/data/themereleases/200724-1351/img/mainsite/flags.png");
    background-position-x:-112px;
    background-position-y:-66px;
    height: 11px;
    width:16px;
    margin: 25px;
  }

  .playerAvatar {
    //background-color: #d258bc;
  }

  .rankingEvolution {
  }

  .xp_container {
    background-color: black;
    border-top: 2px solid #787878;
    border-bottom: 2px solid #787878;
    color: #fec700;
    font-weight: bold;
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
    line-height: 17px;
  }

  .arrowbackl {
    position: absolute;
    top: -2px;
    left: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 16px 14px 0px;
    border-color: transparent #787878 transparent transparent;
  }

  .arrowl {
    position: absolute;
    top: 0px;
    left: -14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 14px 12px 0px;
    border-color: transparent black transparent transparent;
  }

  .arrowback {
    position: absolute;
    top: -2px;
    right: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 0 14px 16px;
    border-color: transparent transparent transparent #787878;
  }

  .arrow {
    position: absolute;
    top: 0px;
    right: -14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 14px;
    border-color: transparent transparent transparent black;
  }
}
