:host {
  .country {
    float: right;
    background-image: url("https://x.boardgamearena.net/data/themereleases/200724-1351/img/mainsite/flags.png");
    height: 11px;
    width: 16px;
    margin: 0.4rem;
  }
}
