<div *ngIf="dataAvailable && game" class="container">
  <div class="chart-wrapper" style="display: block">
    <h2>{{game.name}} - Ranking evolution</h2>
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="graphConfig.lineChartOptions"
            [legend]="graphConfig.lineChartLegend"
            [chartType]="graphConfig.lineChartType"
            (chartHover)="graphConfig.chartHovered($event)"
            (chartClick)="graphConfig.chartClicked($event)">
    </canvas>
  </div>

</div>
