:host {

  //TODO: centralize class with profile
  .container {
    //border
    border: 2px solid black;
    //background-color: #FFFC00;
    background-color: white;
  }
  canvas {
    height: 400px
  }
}
