:host {
  .selection {
    background-color: #01270b;
    font-size: 1.2em;
  }

  .positive-rank {
    color: #99cc00;
  }

  .negative-rank {
    color: #d43535;
  }

  .neutral-rank {
    text-align: center;
  }
}
