:host {
  #dashboard {
    //background-color: aqua;
  }

  .chart {
    //float: right;
    //background-color: #1976d2;
  }
  // Page displaying all containers
  .pageContainers {
    padding: 150px; //TODO: mobile
    //background-size: 150px;
    //background-repeat: space;
    background-image: url("https://x.boardgamearena.net/data/themereleases/200316-1631/img/layout/back-main.jpg");
  }

  .profileSelection {
    display: flex;
  }

  .playerSelection {
    margin: 5px;
    font-weight: bold;
    img {
      width: 64px;
      height: 64px;
      float: inside;
    }
  }

  .game img{
      width: 128px;
      height: 128px;
  }

  .first_row {
    //display: flex;
  }

  .game-selected {
    background-color: rgba(255, 255, 255, 0.5)
  }
}
