:host {
  #dashboard {
    //background-color: aqua;
  }

  .chart {
    //float: right;
    //background-color: #1976d2;
  }
  // Page displaying all containers
  .pageContainers {
    padding:80px;
    padding-top: 20px;
    //background-size: 150px;
    //background-repeat: space;
    background-image: url("https://x.boardgamearena.net/data/themereleases/200316-1631/img/layout/back-main.jpg");
  }

  .profileSelection {
    display: flex;
  }

  .playerSelection {
    margin: 5px;
    font-weight: bold;
    img {
      width: 64px;
      height: 64px;
      float: inside;
    }
  }

  .game {
    img {
      width: 96px;
      height: 96px;
    }
    margin: 15px;
    padding: 0px;
    div {
      padding: 8px;
    }
  }

  .first_row {
    //display: flex;
  }

  .game-selected {
    background-color: rgba(255, 255, 255, 0.7)
  }

  /* Responsive Styles */
  @media only screen and (max-width: 768px) and (orientation: portrait) {

    .pageContainers {
      padding: 0px;
      padding-top: 5px;
    }


  }

  @media only screen and (max-width: 1025px) and (orientation: landscape) {
    .pageContainers {
      padding: 0px;
      padding-top: 0px;
    }
    .gameSelection {
      display: inline-block;
      img {
        height: 64px;
        width: 64px;
      }
    }
  }

}
