<div id="dashboard">
  <!-- ********************* Nav bar ********************* -->
  <div class="toolbar" role="banner">
    <input type="text" [(ngModel)]="nameQuery" (keypress)="updateNameQuery($event.target.value)"
           placeholder="Player Name"/>
    <!--<i class="fa fa-search" aria-hidden="true"></i>-->
    <div class="profileSelection" *ngIf="playersNameQueryResult">
      <a *ngFor="let player of playersNameQueryResult.content" routerLink="/dashboard/{{player.name}}">
        <div class="playerSelection btn btn-outline-dark">
          <p>{{player.name}}</p>
          <img [src]="player.avatar">
        </div>
      </a>
    </div>
    <div class="github-project">
      <a aria-label="Github project" target="_blank" rel="noopener"
         href="https://github.com/ymougenel/bga-rankings-dashboard"
         title="Github">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png">
      </a>
    </div>
  </div>
  <!-- *********************  Page content ********************* -->
  <div class="pageContainers" *ngIf="player">

    <!--First row: Profil & Game selection-->
    <div class="first_row">
      <app-player-profile [player]="player"></app-player-profile>
      <div class="gameSelection">
        <a class="game btn btn-outline-light " *ngFor="let game of favoriteGames" (click)="onSelect(game)">
          <div [class.game-selected]="game.id == selectedGame.id">
            <h3>{{game.name}}</h3>
            <img src={{game.logo}}>
          </div>
        </a>
      </div>
    </div>
    <!-- Second row: RankingTable & Chart -->
    <div class="container">
      <div class="row">
        <div class="col-4 ranking-table" *ngIf="selectedGame">
          <app-player-rankingtable [player]="player" [game]="selectedGame"></app-player-rankingtable>
        </div>
        <div class="col-8 chart" *ngIf="selectedGame">
          <app-player-graph [player]="player" [game]="selectedGame"></app-player-graph>
        </div>
      </div>
    </div>

  </div>
</div>

